* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(15, 15, 15); */
    font-family: Roboto, sans-serif;
    background-color: #f1f1f1;
}

#menu {
    font-size: 1.5em;
}

#input {
    /* background-color: rgb(15, 15, 15); */
    border-color: rgba(128, 128, 128, 0.7);
    /* border-radius: 100px; */
}

#btn1:hover {
    background-color: gray;
}

#btn1 {
    background-color: rgba(19, 18, 18, 0.6);
    color: white;
}

#detail {
    background-color: rgba(88, 85, 85, 0.6);
    width: 100%;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    padding: 10px;
}

#detail:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#thumbs-up {
    background-color: white;
    color: black;
    border: none;
}

#thumbs-up:hover {
    background-color: #a8a0a0;
}

#reply:hover {
    background-color: #a8a0a0;
}

#triple_slash {
    border: none;
    background-color: white;
}

#triple_slash:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

@media (max-width: 1115px) {
    #btn1 {
        margin-top: 5px;
    }
}

@media (max-width: 992px) {
    #comments {
        display: none;
    }
}